<section id="breadcrumb">
  <div class="container">
    <ol class="breadcrumb">
      <li class="active">Administrador</li>
    </ol>
  </div>
</section>

<section d="main">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <img class="img-responsive" src="imgs/avatar2.png" alt>
        <div class="list-group">
          <a href="admin" class="list-group-item">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Olá, Administrador
          </a>
          <a href="residencias" class="list-group-item"><span class="glyphicon glyphicon-home"
              aria-hidden="true"></span> Gerenciar Residências</a>
          <a href="residentes" class="list-group-item"><span class="glyphicon glyphicon-user "
              aria-hidden="true"></span> Gerenciar Residentes </a>
          <a href="solicitacoes" class="list-group-item active"><span class="glyphicon glyphicon-list-alt"
              aria-hidden="true"></span> Gerenciar Solicitações</a>
        </div>

      </div>

      <div class="col-md-9">
        <!-- Website Overview -->
        <div class="panel panel-default">
          <div class="panel-heading main-color-bg">
            <h3 class="panel-title">Solicitações</h3>
          </div>
          <div class="panel-body">
            <div class="col-md-4">
              <div class="well dash-box">
                <h2><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></h2>
                <h4><a href="solicitacoesPendentes">Pendentes</a></h4>
              </div>
            </div>
            <div class="col-md-4">
              <div class="well dash-box">
                <h2><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></h2>
                <h4><a href="solicitacoesAndamento">Em Andamento</a></h4>
              </div>
            </div>
            <div class="col-md-4">
              <div class="well dash-box">
                <h2><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></h2>
                <h4><a href="solicitacoesFinalizadas">Finalizadas</a></h4>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>